############################
# Virtual Environment
############################
venv/
.venv/
env/

############################
# Python cache files
############################
**pycache**/
*.pyc
*.pyo
*.pyd

############################
# Django specific
############################
db.sqlite3
staticfiles/
media/

############################
# Logs
############################
*.log

############################
# Environment & Secrets
############################
.env
.env.*

############################
# IDE / Editor
############################
.vscode/
.idea/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Node (if used later)
############################
node_modules/

############################
# Build / temp files
############################
*.tmp
*.bak
*.swp

############################
# Migrations (optional)
############################
#MediConnectApp/migrations/*.py
#!MediConnectApp/migrations/**init**.py
