@media only screen and (min-width:200px) and (max-width: 575px) {
    .btn-outer{
        position: fixed;
        bottom: 0px;

    }
    .nav-link {
        color: #ffffff !important;
    }
    
}

@media (min-width: 576px) and (max-width: 1400px) {

    .navbar-nav {
        /* --bs-nav-link-padding-x: 0; */
        /* --bs-nav-link-padding-y: 0.5rem; */
        /* --bs-nav-link-font-weight: ; */
        --bs-nav-link-color: white;
        --bs-nav-link-hover-color: #ccc7c785;
        /* --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color); */
        /* display: flex; */
        /* flex-direction: column; */
        /* padding-left: 0; */
        /* margin-bottom: 0; */
        /* list-style: none; */
    }

    .btn-outline-secondary{
/*      --bs-btn-color: #6c757d;
        --bs-btn-border-color: #6c757d;
        --bs-btn-hover-color: #fff; */
        --bs-btn-hover-bg: #65a1e8;
 /*        --bs-btn-hover-border-color: #6c757d;
        --bs-btn-focus-shadow-rgb: 108,117,125;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #6c757d;
        --bs-btn-active-border-color: #6c757d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #6c757d;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #6c757d;
        --bs-gradient: none; */
    }

}