/* Common style start*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f4f8fb;
    font-family: "Segoe UI", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---Message Styles----- */
.messages {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.message-container {
    text-align: center;
    margin-bottom: 1rem;
}

.message {
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: bold;
}

.message-success {
    background-color: #d1f5d3;
    color: #4caf50;
}

.message-error {
    background-color: #f8d7da;
    color: #b12130;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', sans-serif;
}

p {
    font-size: 15px;
    line-height: 26px;
}

.sectionTitle {
    width: max-content;
    border-bottom: 3px solid #0d6efd;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
}

.sectionTitle::after {
    display: inline-block;
    content: " ";
    font-size: 2rem;
    font-weight: 200;
    height: 15px;
    width: 15px;
    background-color:#0d6efd; 
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 3px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    position: relative;
}


/* Common style end */

/*Home Style start*/
.banner4 {
    min-height: 100vh;
    width: 100%;
    background-image: url("../media/images/home/k.png");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10px;
}

.banner4 h1 {
    margin-top: 230px;
    display: inline-block;
    text-align: center;
    font-size: 3.0rem;
    color: #007eff;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 700;
}

.banner4 h1 span {
    color: #c50000;
    display: inline-block;
    line-height: 3.0rem;
    padding: 0 16px;
    padding-bottom: 3px;
    font-weight: 700;
}

.banner4 p {
    color: #110087;
    width: 50%;
    margin-top: 10px;
    background-color: #cee4f685;
}

.banner4 button {
    background-color: #020eb9;
    border: 0;
    outline: none;
    color:#fff;
    font-weight: 700;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 9px;  
}
/*Home Style end*/

/*Services Style start*/
#services {
    padding: 5px 20px;
}

/* .services {
    background: color #e22ee2;
} */

.services h2 {
    font-weight: 700;
    color: #0d6efd;
}

.services .boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.services .boxContainer .box {
    background-color: #fff;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #c5c5c5;
    position: relative;
}

.services .boxContainer .box .cardImage {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.services .boxContainer .box .cardImage:after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    filter: hue-rotate(45deg);
    transition: 0.4s;
}

.services .boxContainer .box:nth-child(1) .cardImage,
.services .boxContainer .box:nth-child(1) .cardImage:after {
    background-image: url("../media/images/home/7.jpg");
}  

.services .boxContainer .box:nth-child(2) .cardImage,
.services .boxContainer .box:nth-child(2) .cardImage:after {
    background-image: url("../media/images/home/2.jpg");
}

.services .boxContainer .box:nth-child(3) .cardImage,
.services .boxContainer .box:nth-child(3) .cardImage:after {
    background-image: url("../media/images/home/4.jpg");
}

.services .boxContainer .box:nth-child(4) .cardImage,
.services .boxContainer .box:nth-child(4) .cardImage:after {
    background-image: url("../media/images/home/10.jpg");
}

.services .boxContainer .box:nth-child(5) .cardImage,
.services .boxContainer .box:nth-child(5) .cardImage:after {
    background-image: url("../media/images/home/9.jpg");
}

.services .boxContainer .box:nth-child(6) .cardImage,
.services .boxContainer .box:nth-child(6) .cardImage:after {
    background-image: url("../media/images/home/6.jpg");
}

.services .boxContainer .box:nth-child(7) .cardImage,
.services .boxContainer .box:nth-child(7) .cardImage:after {
    background-image: url("../media/images/home/3.jpg");
}

.services .boxContainer .box:nth-child(8) .cardImage,
.services .boxContainer .box:nth-child(8) .cardImage:after {
    background-image: url("../media/images/home/5.jpg");
}

.services .boxContainer .box:hover .cardImage:after {
    top: 100%;
}

.services .boxContainer .box .serviceTitle {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 700;
    color: #000000
}

.services .boxContainer .box .serviceCount {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    margin-top: 8px;
}

.services .boxContainer .box .serviceCount span {
    color: #020eb9;
}

.services .boxContainer .box button {
    position: absolute;
    left: 50%;
    background-color: #020eb9;
    font-size: 13px;
    color: #ffffff;
    transform: translate(-50%);
    bottom: 5px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* ================= TABLET RESPONSIVE ================= */
@media (max-width: 992px) {

    /* Grid → 2 columns */
    .services .boxContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    /* Image thoda chhota */
    .services .boxContainer .box .cardImage {
        height: 250px;
    }

    /* Text adjust */
    .services .boxContainer .box .serviceTitle {
        font-size: 15px;
    }

    .services .boxContainer .box .serviceCount {
        font-size: 13px;
    }

    /* Button thoda upar */
    .services .boxContainer .box button {
        bottom: 5px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

/* ================= MOBILE & TABLET RESPONSIVE CSS ================= */

@media (max-width: 576px) {
    .services .boxContainer {
        grid-template-columns: 1fr;
    }
    .services .boxContainer .box .cardImage {
        height: 200px;
    }
    .services .boxContainer .box button {
        bottom: 5px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .services .boxContainer .box .serviceTitle {
        font-size: 14px;
    }

    .services .boxContainer .box .serviceCount {
        font-size: 12px;
    }
/*Services Style end */

    .banner4 {
        min-height: 100vh;
        width: 100%;
        background-image: url("../media/images/home/k.png");
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 10px;
    }

    .banner4 h1 {
        margin-top: 100px;
        display: inline-block;
        text-align: center;
        font-size: 1.5rem;
        color: #007eff;
        width: 50%;
        line-height: 2rem;
        font-weight: 700;
    }

    .banner4 h1 span {
        color: #c50000;
        display: inline-block;
        line-height: 3.0rem;
        padding: 0 16px;
        padding-bottom: 3px;
        font-weight: 500;
    }

    .banner4 p {
        color: #110087;
        width: 100%;        
        background-color: #cee4f685;
    }

    .banner4 button {
        background-color: #020eb9;
        border: 0;
        outline: none;
        color:#fff;
        font-weight: 500;
        padding: 4px 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        border-radius: 9px;  
    }




}
/*Services Style end */

/*AboutusSection style start*/
#about {
    padding: 5px 5px;
}

#about h2 {
    font-weight: 700;
    color: #0d6efd;
}
#about .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
    height: 225px;
}

#about .cards > div {
    width: 360px;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    height: 220px;
    border: 1.5px solid #e6e6e6;
    transition: 0.5s;
}

#about .cards > div:hover {
    width: 370px;
    margin-top: 0px;
    border-color: #ff006a;
    padding: 30px;
    height: auto;
}

#about .cards > div .title {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

#about .cards > div p {
    font-size: 13px;
    
}
#about .cards > div button {
    background-color: #020eb9;
    border: 0;
    outline: none;
    color:#fff;
    font-weight: 500;
    padding: 6px 15px;
    margin-top: 0px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s;
    margin-bottom: 5px;
}

#about .cards > div:hover button {
    background-color: #ff006a;
    color: #ffffff
}
/*About us style end */

/*HelpSection style start*/
#help {
    padding: 5px 5px;
}

#help h2 {
    font-weight: 700;
    color:#0d6efd
}
/*HelpSection style end*/


/*ContactSection style start*/
#contact {
    padding: 5px 5px;
}

#contact h2 {
    font-weight: 700;
    color: #0d6efd;
}
/*ContactSection style end*/