{% extends "users/doctor/d_base.html" %}

{% block title %}Create Prescription{% endblock %}

{% block content %}
<h4 class="fw-bold mb-3">
    Prescription for {{ appointment.patient }}
</h4>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Diagnosis</label>
        <textarea name="diagnosis" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Medicines <small class="text-muted">(comma separated)</small>
        </label>
        <textarea name="medicines" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Notes</label>
        <textarea name="notes" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">
        Save Prescription
    </button>
</form>
{% endblock %}
