        <div class="container pt-5 pb-3">
            <div class="row justify-content-around">
                <div class="col-auto">
                    <p><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" style="color:rgb(24, 119, 242); font-size: 25px;"></i></a></p>
                </div>
                <div class="col-auto">
                    <p><a href="https://twitter.com/"><i class="fa-brands fa-x-twitter" style="color:rgb(0, 0, 0); font-size: 25px;"></i></a></p>
                </div>
                <div class="col-auto">
                    <p><a href="https://glauniversity.in:8085/"><i class="fa-solid fa-globe" style="color:rgb(32, 138, 209); font-size: 25px;"></i></a></p>
                </div>
                <div class="col-auto">
                    <p><a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest" style="color:rgb(255, 0, 55); font-size: 25px;"></i></a></p>
                </div>
                <div class="col-auto">
                    <p><a href="kr.alok007@gmail.com"><i class="fa-brands fa-google" style="color:rgb(0, 0, 0); font-size: 25px;"></i></a></p>
                </div>
            </div>
        </div>
        

        <footer class="bg-dark text-light pt-5 pb-3 mt-1" style="background-color: #00398c !important;">
            <div class="container">

                <div class="row text-center text-md-start">

                    <!-- ABOUT -->
                    <div class="col-md-4 mb-4">
                        <h5 class="fw-bold">MediConnect</h5>
                        <p class="small">
                            MediConnect is a digital healthcare platform that connects
                            patients with doctors and simplifies appointment booking.
                        </p>
                    </div>

                    <!-- QUICK LINKS -->
                    <div class="col-md-4 mb-4">
                        <h5 class="fw-bold">Quick Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="/" class="text-light text-decoration-none">Home</a></li>
                            <li><a href="{% url 'about' %}" class="text-light text-decoration-none">About Us</a></li>
                            <li><a href="{% url 'help' %}"class="text-light text-decoration-none">Help & Support</a></li>
                            <li><a href="{% url 'contact' %}" class="text-light text-decoration-none">Contact</a></li>
                        </ul>
                    </div>

                    <!-- CONTACT -->
                    <div class="col-md-4 mb-4">
                        <h5 class="fw-bold">Contact Us</h5>
                        <p class="small mb-1">📧 support@mediconnect.com</p>
                        <p class="small mb-1">📞 +91-9123456789</p>
                        <p class="small">⏰ Mon – Sat | 9:00 AM – 6:00 PM</p>
                    </div>

                </div>

                <hr class="border-secondary">

                <!-- COPYRIGHT -->
                <div class="text-center small">
                    © 2025 MediConnect. All Rights Reserved.
                </div>

            </div>
        </footer>