<div class="container-fluid">
    <div class="row bg-light p-3">
        <div class="col-3">
            <a id="header_logo" href="/"><img src="static/logos/mediconnect-logo3.png" alt="Cinque Terre" width="120" height="120"></a>
        </div>
        <div class="col-9">
            <h1 style="font-weight: bold; font-size: 48px; color: rgba(16, 18, 132, 1);">MediConnect</h1>
            <p>(Connects Patients and Doctors seamlessly)</span></p>
        </div>
    </div>
</div>
    
    <div class="header_title">
    </div>
</div>