        /* ---Message Styles----- */
        .message-container {
            text-align: center;
            margin-bottom: 1rem;
        }

        .message {
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            font-size: 0.875rem;
            font-weight: bold;
        }

        .message-success {
            background-color: #d1f5d3;
            color: #4caf50;
        }

        .message-error {
            background-color: #f8d7da;
            color: #b12130;
        }

        .message-warning{
            background-color: #fffbed;
            color: #ff9800;
        }

        .message-info{
            background-color: #e0f2fe;
            color: #03a9f4; 
        }
